- url_text_map = { settings_path => '系统配置', logs_path => "操作日志"}

%li.nav-stack-header
  %a 系统管理
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
